<center>
	<h1>
		Welcome to Acid Lab Challenge by Diego González
	</h1>
	<h3>
		Select Option:
	</h3>
	<br>
	<%= link_to 'USER MAINTAINER', controller: 'users' %> ||
	<%= link_to 'USER VALIDATOR', controller: 'authentication', :action => :new %>
</center>